.RightSide {
    margin-top: 4rem;
    height: 100vh;
    width: fit-content;
    display: block;
    flex-direction: row;
    flex: 1;
    background-color: var(--color-secondary);
}

#chartContainer {
    margin-top: 5%;
}

.row {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    margin-right: 1rem;
    margin-left: 1rem;
}
.col{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    border-radius: 2rem;
    background-color: var(--color-tertiary);
}
#barChart{
    padding: 4rem;
    margin-bottom: 6rem;
}