.mainProfileDiv{
    display: flex;
}

.profileContent{
    flex-grow: 2;
    overflow: auto;
}
.profileContent h2{
    margin-top: 1rem;
}
.profileCard{
    display: flex; 
    margin: 0;
    width: 100%;
    height:90vh;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
#profileBack{
    height: 50vh;
    margin: 2rem;
    margin-top: 1rem;
    margin-bottom: 0;
    border-radius: 2rem;
}