:root {
  /* --color-primary:#ffffff;
  --color-secondary: #000000;
  --color-tertiary: #565656; */

  --color-primary:#003566;
  --color-secondary: #eff7f6;
  --color-tertiary: #fefae0;
}

#searchBar {
  min-width: 35vw;
}
#profileImg {
  height: 40px;
  width: 40px;
  padding-right: 8px;
}
.mainContainer{
  display: flex;
  height: 100vh;
}
body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
